.tarjeta-pelicula {
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: scale 0.4s;
    overflow: hidden;
    background-color: var(--color-blanco-20);
    padding: 12px;
    border: 1px solid var(--color-blanco-45);
    border-radius: 16px;
    box-shadow: 0 0 8px 1px var(--color-blanco-45);
    img {
        width: 100%;
        aspect-ratio: 4 / 5;
        border-radius: 12px;
        transform: skewX(-2deg);
    }

    &:hover {
        scale: 0.95;
    }

    .tarjeta-contenido {
        .restriccion {
            position: absolute;
            bottom: 20%;
            left: 75%;
            z-index: 10;
            pointer-events: none;
            padding: 8px;
            font-family: var(--fuente-sans);
            background-color: var(--color-rojo);
            color: var(--color-blanco);
            border: 1px solid var(--color-blanco-45);
            border-radius: 8px;
            transform: rotateZ(16deg);
            box-shadow: inset 0 0 8px 1px var(--color-blanco-45), 0 0 8px 1px var(--color-negro);
        }

        h3, span {
            color: #f4faff;
            text-align: center;
            width: 100%;
        }

        .generos {
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        p {
            text-align: justify;
            color: var(--color-2);
        }

    }
}