<header class="navbar-header">
    <div class="navbar-container">
        <a routerLink="/" class="brand-logo">
            <span>CINE - PUCHITO PUCHITO</span> 🚬 🚬
        </a>

        <nav class="navbar-actions">
            @if (usuario(); as user) {
            <span class="user-welcome">Hola, {{ user.usuario || user.nombre || user.email }}</span>
            <button (click)="cerrarSesion()" class="btn-logout">Cerrar Sesión</button>
            } @else {
            <button (click)="irAlLogin()" class="btn-login">Iniciar Sesión</button>
            }
        </nav>
    </div>
</header>