@if (cargando()) {
    <div class="cargando">
        <p>Cargando detalles de la película...</p>
    </div>
} @else if (pelicula(); as p) {
    <article class="detalle-contenedor">
        <button routerLink="/" class="btn-volver">← Volver al catálogo</button>

        <div class="pelicula-container">
            <div class="poster-container">
                <img [src]="p.afiche_url" [alt]="p.titulo" />
            </div>

            <div class="info-container">
                <h1>{{ p.titulo | titlecase }}</h1>

                <div class="metadata">
                    <span>📆 {{ p.estreno }}</span>
                    <span>⏱ {{ p.duracion_minutos }} min</span>
                    <span>⭐ {{ p.puntuacion_cantidad === 0 ? "-" : (p.puntuacion_total / p.puntuacion_cantidad).toFixed(2) }} ({{ p.puntuacion_cantidad }} votos)</span>
                </div>

                <p class="sinopsis">{{ p.sinopsis }}</p>
            </div>
        </div>
    </article>
} @else {
    <div class="error-container">
        <p>No se encontró la película solicitada.</p>
        <button routerLink="/" class="btn-volver">Volver al catálogo</button>
    </div>
}