.pelicula-destacada{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blanco-20);
    padding: 14px;
    border-radius: 12px;
    border: 1px solid var(--color-blanco-20);
    cursor: pointer;
    transition: scale 0.4s;
    &:hover{
        scale: 0.95;
    }
    .afiche{
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
        }
    }
    .tarjeta-contenido{
        width: 60%;
        h3{
            color: var(--color-3);
        }
        span{
            color: var(--color-2);
        }
        p{
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 8;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.1;
            color: var(--color-blanco);
        }
    }
}