<div class="buscador-container">

    @if (generosSeleccionadosIds().length === 0) {
    <form (ngSubmit)="onBuscarSubmit()" class="seccion-texto">
        <label class="label-texto" for="input-texto">Buscar por Título: </label>
        <input id="input-texto" type="text" name="busqueda" placeholder="Escribí el nombre de la película..."
            [ngModel]="busquedaTexto()" (ngModelChange)="onTextoInput($event)" class="input-busqueda" />
    </form>
    }

    @if (busquedaTexto().trim() === '') {
    <div class="seccion-generos">
        <label class="titulo-generos">Filtrar por Género:</label>
        <div class="lista-checkboxes">
            @for (g of generos(); track g.id) {
            <label class="checkbox-genero">
                <input type="checkbox" [value]="g.id" [checked]="generosSeleccionadosIds().includes(g.id)"
                    (change)="onGeneroChange(g.id, $any($event.target).checked)" />
                {{ g.nombre }}
            </label>
            }
        </div>
    </div>
    }
</div>