@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Story+Script&display=swap');

:root{
    --fuente-titulo: "Story Script", system-ui;
    --fuente-sans: "Quantico", sans-serif;
    --fuente-destacada: "Knewave", system-ui;

    --color-blanco-20: #ffffff13; 
    --color-blanco: #FFFFF0; 
    --color-1: #070C2B;
    --color-2: #7179AB;
    --color-3: #80713F;
    --color-4: #2B2307;
    --color-5: #2C346B;

    --iluminacion: inset 2px 2px 4px 1px #F5C70045, inset -2px -2px 4px 1px #00000045;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-1);
}
app-buscador{
    display: block;
    width: 100%;
}
app-destacados{
    display: block;
    width: 30%;
}
app-tarjeta-pelicula {
    display: block;
    width: 19%;
    margin: 6px 0.5%;
}
h1,h2,h3,h4,h5,h6{
    width: 100%;
    font-family: var(--fuente-titulo);
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    margin: 4px 0;
}
p,span{
    font-family: var(--fuente-sans);
}
hr{
    opacity: 0.3;
}
