<section class="compra-contenedor">

    <div class="grupo-opciones">
        <label>Seleccionar Función (Hoy y Mañana)</label>
        @if (cargandoFunciones()) {
            <p class="txt-cargando">Cargando funciones disponibles...</p>
        } @else {
            <div class="tarjetas-funciones">
                @for (func of funciones(); track func.id) {
                    <button 
                        type="button" 
                        class="card-funcion"
                        [class.seleccionado]="func.id === funcionSeleccionadaId()"
                        (click)="funcionSeleccionadaId.set(func.id)">
                        
                        <div class="hora-fecha">
                            <span class="fecha">{{ func.inicio | date:'dd/MM' }} - {{ func.inicio | date:'HH:mm' }}</span>
                        </div>

                        <div class="detalles-funcion">
                                <span class="funcion idioma">{{func.formato}} - {{ func.idioma }}</span>
                        </div>

                        <div class="precio-container">
                            ${{ func.precio }}
                        </div>
                    </button>
                } @empty {
                    <p class="txt-vacio">No hay funciones disponibles para hoy ni mañana.</p>
                }
            </div>
        }
    </div>

    <div class="grupo-opciones">
        <label>Cantidad de Entradas</label>
        <div class="control-cantidad">
            <button type="button" (click)="modificarCantidad(-1)" [disabled]="cantidadEntradas() <= 1">-</button>
            <span>{{ cantidadEntradas() }}</span>
            <button type="button" (click)="modificarCantidad(1)" [disabled]="cantidadEntradas() >= 10">+</button>
        </div>
    </div>

    <div class="resumen-precio">
        <span>Total Entradas:</span>
        <strong>${{ montoFinal() }}</strong>
        @if (esPrimeraCompra()) {
            <span>¡20% OFF aplicado en tu primera compra!</span>
        }
    </div>

    <div class="btn-confirmar">
            <button 
        type="button" 
        [disabled]="procesando() || !funcionSeleccionadaId()"
        (click)="finalizarCompra()">
        {{ procesando() ? 'Guardando...' : 'Continuar' }}
    </button>
    </div>
</section>